<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large">{{movie?.title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="goToHomePage()">
        <ion-icon slot="icon-only" name="home-outline" color="medium"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="goToFavourites()">
        <ion-icon slot="icon-only" name="heart" color="medium"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card-content>
      {{movie?.overview}}
    </ion-card-content>
  <ion-buttons>
    <ion-button fill="outline" color="primary" (click)="addToFavourites()" *ngIf="!isFavourite">
      <ion-icon slot="start" name="heart" color="primary"></ion-icon>
      ADD TO FAVOURITES
    </ion-button>
    <ion-button fill="outline" color="primary" (click)="removeFromFavourites()" *ngIf="isFavourite">
      <ion-icon slot="start" name="heart" color="primary"></ion-icon>
      REMOVE FROM FAVOURITES
    </ion-button>
  </ion-buttons>
  <ion-title>Cast</ion-title>
  <ion-card *ngFor="let c of cast" (click)="goToPersonDetails(c)">
    <img alt="Person Photo" [src]='imageBaseUrl + c.profile_path' />
    <ion-card-content>
      <strong>{{c.character}}</strong>
    </ion-card-content>
    <ion-card-content>
      {{c.name}}
    </ion-card-content>
  </ion-card>
  <ion-title>Crew</ion-title>
  <ion-card *ngFor="let cw of crew" (click)="goToPersonDetails(cw)">
    <img alt="Crew Photo" [src]='imageBaseUrl + cw.profile_path' />
    <ion-card-content>
      <strong>{{cw.job}}</strong>
    </ion-card-content>
    <ion-card-content>
      {{cw.name}}
    </ion-card-content>
  </ion-card>
</ion-content>