<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      G00473364
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="goToFavourites()">
        <ion-icon slot="icon-only" name="heart" color="medium"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-spinner *ngIf="isLoading"></ion-spinner>
  <ion-item>
    <ion-input label="Search" placeholder="Movie Name" [(ngModel)]="searchQuery">
    </ion-input>
  </ion-item>
  <ion-button expand="full" (click)="onSearch()">Search</ion-button>
  <ion-card-header>
    <ion-card-title>Today's Trending Movies</ion-card-title>
  </ion-card-header>
  <ion-card *ngFor="let m of movies" (click)="goToMovieDetails(m)">
    <img alt="Movie Poster" [src]='imageBaseUrl + m.poster_path'/>
    <ion-card-content>
      {{m.overview}}
    </ion-card-content>
  </ion-card>
</ion-content>